<!DOCTYPE html>
<html>
<head>
    <title>AirBnB Clone</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link rel="icon" type="../static/image/png" href="../static/images/icon.png">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>

    <div class="container">
        <section class="filters">
            <div class="locations">
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% if state is mapping %}
                            <H1>States</H1>
                            <UL>
                            {% for state in states.values()|sort(attribute="name") %}
                                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
                            {% endfor %}
                            </UL>
                        {% elif state is defined %}
                            <H1>State: {{ state.name }}</H1>
                            <H3>Cities:</H3>
                                <UL>
                                {% for city in state.cities|sort(attribute='name') %}
                                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                                {% endfor %}
                                </UL>
                        {% else %}
                            <H1>Not found</H1>
                        {% endif %}
                    </ul>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    amenity data hehehehe
                </ul>
            </div>
            <button class="search-button">Search</button>
        </section>
    </div>

    <footer>
        <p>Holberton School</p>
    </footer>
</body>
</html>
